<section class="flex items-center justify-center min-h-[55vh] px-4">
  <div class="text-center max-w-4xl mx-auto">
    <h1 class="text-4xl md:text-6xl lg:text-7xl font-bold mb-6 font-fifties text-primary-green text-shadow-2xs text-shadow-cyan-400 ">
      Resuelve Puzzles de Código
    </h1>
    <p class="text-lg md:text-xl text-gray-300 max-w-2xl mx-auto leading-relaxed">
      Mejora tus habilidades de programación resolviendo desafíos interactivos en múltiples lenguajes
    </p>
  </div>
</section>
