<section class="relative flex items-center justify-center min-h-[55vh] px-4 fade-in">
  <div class="absolute top-12 left-40 z-0 floating-cloud">
    <img src="/assets/img/cloud.svg" alt="nubess" />
  </div>

  <div class="text-center max-w-4xl mx-auto z-10">
    <h1 class="text-4xl md:text-6xl lg:text-7xl font-bold mb-6 font-fifties text-primary-green text-shadow-2xs text-shadow-cyan-400">
      Resuelve Puzzles de Código
    </h1>
    <p class="text-lg md:text-xl text-gray-300 max-w-2xl mx-auto leading-relaxed">
      Mejora tus habilidades de programación resolviendo desafíos interactivos en múltiples lenguajes
    </p>
  </div>

  <div class="absolute bottom-0 right-70 z-0">
    <img src="/assets/img/foco.svg" alt="foco-hand" />
  </div>
</section>
