<div class="flex gap-4 overflow-x-auto justify-center">
  <section class="px-6 py-10 ">
    <h2 class="text-white text-xl font-semibold mb-6">Lenguajes populares</h2>

    <div class="flex gap-4 overflow-x-auto">
      <article class="relative min-w-[250px] max-w-[280px] rounded-xl bg-yellow-400 shadow-lg overflow-hidden">
        <div class="p-6 text-white">
          <p class="text-sm font-medium mb-1">20 Niveles</p>
          <h3 class="text-2xl font-bold">JavaScript</h3>
        </div>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
          alt="JavaScript logo"
          class="absolute right-4 -bottom-4 size-28 opacity-30 pointer-events-none select-none" />
      </article>

      <article
        class="relative min-w-[250px] max-w-[280px] rounded-xl bg-gradient-to-r from-blue-400 to-green-200 shadow-lg overflow-hidden">
        <div class="p-6 text-white">
          <p class="text-sm font-medium mb-1">15 Niveles</p>
          <h3 class="text-2xl font-bold">Python</h3>
        </div>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
          alt="Python logo" class="absolute right-4 -bottom-4 size-28 opacity-30 pointer-events-none select-none" />
      </article>

      <article class="relative min-w-[250px] max-w-[280px] rounded-xl bg-blue-400/70 shadow-lg overflow-hidden">
        <div class="p-6 text-white">
          <p class="text-sm font-medium mb-1">15 Niveles</p>
          <h3 class="text-2xl font-bold">C++</h3>
        </div>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg"
          alt="C++ logo" class="absolute right-4 -bottom-4 size-28 opacity-30 pointer-events-none select-none" />
      </article>
    </div>
  </section>
</div>
